<!DOCTYPE html>
<html>
    <head>
        <title>BurhanSporty</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="" alt="BP">
            </div>
            <div class="title">BurhanSporty</div>
        </nav>
        <div class="hero">
            <div class="hero-content">
                <div class="title"></div>
                <img class="hero-img" src="">
                <button class="cta">Buy Now</button>
            </div>
        </div>
        <div class="list">
            <div class="card">
                <img src="" alt="Sepatu 1">
                <div class="title"></div>
            </div>
        </div>
        <div class="footer">
            {{ name }} | {{ npm }} | {{ class }}
        </div>
    </body>
</html>